.idea/

#Createdbyhttps://www.gitignore.io/api/macos,linux,django,python,pycharm

###Django###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
media

###Linux###
*~

#temporaryfileswhichcanbecreatedifaprocessstillhasahandleopenofadeletedfile
.fuse_hidden*

#KDEdirectorypreferences
.directory

#Linuxtrashfolderwhichmightappearonanypartitionordisk
.Trash-*

#.nfsfilesarecreatedwhenanopenfileisremovedbutisstillbeingaccessed
.nfs*

###macOS###
*.DS_Store
.AppleDouble
.LSOverride

#Iconmustendwithtwo\r
Icon

#Thumbnails
._*

#Filesthatmightappearintherootofavolume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

#DirectoriespotentiallycreatedonremoteAFPshare
.AppleDB
.AppleDesktop
NetworkTrashFolder
TemporaryItems
.apdisk

###PyCharm###
#CoversJetBrainsIDEs:IntelliJ,RubyMine,PhpStorm,AppCode,PyCharm,CLion,AndroidStudioandWebstorm
#Reference:https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

#User-specificstuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

#Sensitiveorhigh-churnfiles:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

#Gradle:
.idea/**/gradle.xml
.idea/**/libraries

#CMake
cmake-build-debug/

#MongoExplorerplugin:
.idea/**/mongoSettings.xml

##File-basedprojectformat:
*.iws

##Plugin-specificfiles:

#IntelliJ
/out/

#mpeltonen/sbt-ideaplugin
.idea_modules/

#JIRAplugin
atlassian-ide-plugin.xml

#CursiveClojureplugin
.idea/replstate.xml

#Crashlyticsplugin(forAndroidStudioandIntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

###PyCharmPatch###
#CommentReason:https://github.com/joeblau/gitignore.io/issues/186#issuecomment-215987721

#*.iml
#modules.xml
#.idea/misc.xml
#*.ipr

#Sonarlintplugin
.idea/sonarlint

###Python###
#Byte-compiled/optimized/DLLfiles
*.py[cod]
*$py.class

#Cextensions
*.so

#Distribution/packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

#PyInstaller
#Usuallythesefilesarewrittenbyapythonscriptfromatemplate
#beforePyInstallerbuildstheexe,soastoinjectdate/otherinfosintoit.
*.manifest
*.spec

#Installerlogs
pip-log.txt
pip-delete-this-directory.txt

#Unittest/coveragereports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

#Translations
*.mo

#Djangostuff:

#Flaskstuff:
instance/
.webassets-cache

#Scrapystuff:
.scrapy

#Sphinxdocumentation
docs/_build/

#PyBuilder
target/

#JupyterNotebook
.ipynb_checkpoints

#pyenv
.python-version

#celerybeatschedulefile
celerybeat-schedule

#SageMathparsedfiles
*.sage.py

#dotenv
.env

#virtualenv
.venv
venv/
ENV/

#Spyderprojectsettings
.spyderproject
.spyproject

#Ropeprojectsettings
.ropeproject

#mkdocsdocumentation
/site

project/config_file/

#Endofhttps://www.gitignore.io/api/macos,linux,django,python,pycharm
